[Unit]
Description=SUPERCAPFREEZER Temperature Monitor
After=network.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
Type=simple
User=ipel
WorkingDirectory=/home/ipel/DEV/supercapfreezer
ExecStart=/home/ipel/DEV/supercapfreezer/venv/bin/python /home/ipel/DEV/supercapfreezer/main.py --config /home/ipel/DEV/supercapfreezer/config.yaml
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

PrivateTmp=yes
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
